.btn{
    width: 300px;
    color: rgb(248, 241, 241);
    background-color: rgb(6, 7, 7);
    text-align: center;
    margin: auto;
    padding: 10px;
}
.slide{
    width: 300px;
    color: rgb(248, 241, 241);
    background-color: rgb(6, 7, 7);
    text-align: center;
    margin: auto;
    padding: 10px;
    /* display: none; */
}